[App]
title = Нейро-консультант по общим вопросам для компании "Платрум" - сервис автоматизации менеджмента, включающий в себя более 10 инструментов для управления бизнесом
version = 0.1.1

[Logging]
level = INFO
format = {asctime} - {name} - {levelname} - {message}
format_string = true
file = app.log

[KnowledgeBase]
cache = ./config/cache.json
base_platrum_url = https://help.platrum.ru
knowledge_base_platrum_url = https://help.platrum.ru/support/solutions/73000253713
chunk_size = 1000
chunk_overlap = 30
prompt_system = ./knowledge_base_updating/prompts/system.txt
llm_name = openai
api_key =
model_name = gpt-3.5-turbo-16k
tpe_max_workers = 4
knowledge_base_storage = ./knowledge_base_updating/files
knowledge_base_save_translated_articles = true

[GenQuestions]
prompt_system = ./knowledge_base_supporting/questions/prompts/system.txt
llm_name = openai
api_key =
model_name = gpt-3.5-turbo-16k
tpe_max_workers = 4
questions_storage = ./knowledge_base_supporting/questions/data.json

[GenQuestionsSimilarity]
similarity_search_threshold = 0.7
simple_output = true
similarity_storage = ./knowledge_base_supporting/questions/similarity/data.json

[GenAnswers]
prompt_system = ./knowledge_base_supporting/answers/prompts/system.txt
llm_name = openai
api_key =
model_name = gpt-3.5-turbo-16k
tpe_max_workers = 4
answers_storage = ./knowledge_base_supporting/answers/data.json
similarity_search_neighbours = 2

[GenScore]
prompt_system = ./knowledge_base_supporting/questions/score/prompts/system.txt
llm_name = openai
api_key =
model_name = gpt-3.5-turbo-16k
tpe_max_workers = 4
score_storage = ./knowledge_base_supporting/questions/score/data.json
score_stats_storage = ./knowledge_base_supporting/questions/score/stats.csv

[Database]
host = localhost
port = 5432
user = appuser
password = p@$$w0rd
database = myapp

[Email]
host = smtp.example.com
port = 587
user = mailuser
password = p@$$w0rd
sender = no-reply@example.com